#header-text {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 2rem;
}

body {
    background-image: url("../images/game-background.jpg");
}

#game-content {
    padding: 2rem;
}

.game-rules {
    font-family: 'Questrial', sans-serif;
}

.gem {
    height: 12rem;
    display: flex;
    justify-content: center;
    text-align-last: center;
}

.gem:hover {
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
}

.gem:active {
    -webkit-filter: drop-shadow(10px 10px 10px #222 );
    filter: drop-shadow(10px 10px 10px #222);
}

#gems-group {
    justify-content: center;
}

ul {
    list-style-type: circle;
}

#counter-title {
    font-family: 'Questrial', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.card {
    margin-right: 3rem;
}

.numbers-emphasize {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 7em;
    color: #009999;
}

#session-stats {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    color: gray;
}